.main-img-uploader-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  input{
    display: none;
  } 

  .btn-gr, .btn-upload {
    width: 150px;
    background-color: #45d7a5;
    border-radius: 10px;
    align-self: center;
    color:white;
    font-weight: 600;

    &:hover{
      background-color: #45d7a5;
    }
  }
}