$green-color: #45d7a5;
*{
  scroll-behavior: smooth;
}
.home-main-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: 3vw;
  overflow: auto;
  flex-direction: column;
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
    border: 1px solid red;
    margin: 5px;
    padding: 15px;
    margin-top: 35%;
    &:first-child{
      margin-top: 15%;
    }
    
    &:last-child{
      margin-bottom: 15%;
    }

  }
  
  #presentation{
    flex-direction: row;
    
    .pres-body{
      margin-left: 20px;
      flex-direction: column;
    }
  }

  .text{
    font-size: 24px;
    width: 400px;
    text-align: center;
    
    &-demo{
      width: 90%;
      font-size: 24px;
    }
  }

  .btn-demo{
    background-color: $green-color;
    margin-top: 10px;
    width: 250px;
    color: white;
    font-weight: 600;

    &:hover{
      background-color: $green-color;
    }
  }
  .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .about-word{
      font-size: 72px;
      font-weight: 600;
      margin-right: 20px;
      margin-top: 25px;
    }
  }

  .demo-logo{
    margin-right: 10px;
  }

}