.result-main-container{
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.2);
  flex-direction: column;

  .header{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    span{
      font-size: 32px;
      font-weight: 600;
    }
  }

  .body{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  } 

  .img-zone{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
      height: 100%;
      max-height: 350px;
      max-width: 350px;
      border-radius: 20px;
    }
  }

  .btn-group{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 90%;

  }

  .btn-upload{
    width: 170px;
    height: 40px;
    margin-right: 20px;
  }

  .results{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 35px;
    flex-direction: column;
    align-items: flex-start;
  }

  .result-header{
    width: 100%;
    display: flex;
    justify-content: center;
    span{
      font-size: 24px;
      font-weight: 600;
    }
  }

  .result-table{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .result-cat{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    span{
      font-size: 18px;
      font-weight: 600;
    }
  }

  .bar{
    width: 95%;
  }

  .check{
    padding-top: 9px;
  }


  .prediction{
    width: 90%;
    padding: 20px;
    padding-top: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .text{
    font-size: 20px;
    text-align: start;
  }

  .cicr-prog{
    display: flex;
    .circ-bar{
      height: 250px;
    }
  }
  .MuiCheckbox-colorSecondary.Mui-checked{
    color: #45d7a5;
  }

  .MuiCheckbox-root{
    color:white;
  }
}